.menu{
    background-color: black;
    display: flex;
    list-style: none;

}
.item-menu{
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: opacity 1.3s;

}
.item-menu :hover{/*opacity: 0.7;  */
    background-color: black;

}


.link-item-menu{
    color: aliceblue;
    font-weight: bold;
    text-decoration: 10px 40px;
}